.label-info-credits {
  right: $rg-label-info-credits;
  top: $tp-label-info-credits;
}

.label-info-marked {
  left: $lf-label-info-marked;
  top: $tp-label-info-marked;
}

.label-info-bet {
  right: $rg-label-info-bet;
  top: $tp-label-info-bet;
}

.label-info-match {
  left: $lf-label-info-match;
  top: $tp-label-info-match;
}

.label-info-win {
  right: $rg-label-info-win;
  top: $tp-label-info-win;
}

.label-help-start {
  left: $lf-label-help-start;
  top: $tp-label-help-start;
}

.label-help-quickpick {
  left: $lf-label-help-quickpick;
  top: $tp-label-help-quickpick;
}

.label-help-auto {
  left: $lf-label-help-auto;
  top: $tp-label-help-auto;
}

.label-help-clearall {
  left: $lf-label-help-clearall;
  top: $tp-label-help-clearall;
}

.label-help-bets {
  left: $lf-label-help-bets;
  top: $tp-label-help-bets;
}

.label-help-extra {
  left: $lf-label-help-extra;
  top: $tp-label-help-extra;
  padding: $pd-label-help-extra;
}